---
import ContentRender from '@components/content-render.astro'
import SidebarToc from '@components/sidebar-toc.astro'
import BaseLayout from '@layouts/base-layout.astro'
import type { PostModel, EssayModel } from '@interfaces/models'
import { render } from 'astro:content'

interface Props {
  entry: PostModel | EssayModel
  from: 'post' | 'essay'
}

const { entry, from } = Astro.props
const { headings: rawHeadings } = await render(entry)
const headings = rawHeadings.filter((h) => h.slug !== 'footnote-label')
---

<BaseLayout title={entry.data.title} description={entry.data.description ?? ''} hasComments mainClass="content-layout">
  <section>
    <SidebarToc headings={headings} />
    <ContentRender post={entry} from={from} headings={headings} />
  </section>
</BaseLayout>
